body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
    background-color: rgb(61, 224, 126);
    height: 40svh;

    > object {
        width: 20%;
    }

    > nav {
        display: flex;
        justify-content: left;
        width: 100%;

        > object {
            padding: 1em;
        }
    }

    > h1 {
        font-size: 4rem;
    }
}

.store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
    background-color: black;

    > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 222px;
        height: 380px;
        color: white;
        margin: 15px 15px 50px 15px;

        > span {
            margin-top: 10px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        > p {
            font-size: 0.8rem;
        }

        > img {
            width: 100%;
        }

        > a {
            background-color: rgba(232,63,87);
            padding: 0.5em;
            border-radius: 5px;
            color: white;
            text-decoration: none;
            font-size: 0.8rem;
            margin-top: auto;
        }

    }

}