body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
    background-color: rgb(61, 224, 126);
    height: 40svh;

    > object {
        width: 20%;
    }

    > nav {
        display: flex;
        justify-content: left;
        width: 100%;

        > object {
            padding: 1em;
        }
    }

    > h1 {
        font-size: 4rem;
    }
}

.store {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 60px;
    background-color: black;

    > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 222px;
        height: 380px;
        color: white;
        margin: 15px 15px 50px 15px;

        > span {
            margin-top: 10px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        > p {
            font-size: 0.8rem;
        }

        > img {
            width: 100%;
        }

        > a {
            background-color: rgba(232,63,87);
            padding: 0.5em;
            border-radius: 5px;
            color: white;
            text-decoration: none;
            font-size: 0.8rem;
            margin-top: auto;
        }

    }

    /* Poor chef, the example does not include him */
    > div:nth-last-child(3) {
        display: none;
    }

    > div:nth-last-child(-n + 2) {
        background-color: white;
        color: black;
        width: 333px;
        height: 500px;

        > a {
            margin: auto 0 10px 10px;
            padding: 0.7rem;
        }

        > p, > span {
            margin-left: 10px;
        }

    }

}

footer {
    background-color: rgb(51,51,51);
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 30px 0 80px 0;

    > div {
        display: flex;
        flex-direction: column;
        
        > h2 {
            font-size: 1.5rem;
            margin: 0 0 0.4rem 0;
        }

        .social-media > object {
            height: 1.4rem;
            margin-right: 0.7rem;
        }

        > span {
            font-size: 0.8rem;
            margin-bottom: 0.2rem;
        }

    }

}